<ivysettings>
    <settings defaultResolver="custom-resolver"/>
    <property name="m2-pattern" value="[organisation]/[module]/[revision]/[module]-[revision](-[classifier]).[ext]" override="false"/>
    <property name="m2-pom" value="[organisation]/[module]/[revision]/[module]-[revision](-[classifier]).pom" override="false"/>

    <resolvers>
        <filesystem name="local-maven2" m2compatible="true">
            <artifact pattern="${user.home}/.m2/repository/${m2-pattern}"/>
            <ivy pattern="${user.home}/.m2/repository/${m2-pom}"/>
        </filesystem>
        <ibiblio name="gradle-releases" m2compatible="true" root="http://repo.gradle.org/gradle/libs-releases-local"/>
    </resolvers>

    <include url="${ivy.default.settings.dir}/ivysettings-public.xml"/>
    <include url="${ivy.default.settings.dir}/ivysettings-shared.xml"/>
    <include url="${ivy.default.settings.dir}/ivysettings-local.xml"/>
    <include url="${ivy.default.settings.dir}/ivysettings-main-chain.xml"/>
    <include url="${ivy.default.settings.dir}/ivysettings-default-chain.xml"/>

    <resolvers>
        <chain name="custom-resolver" dual="true">
            <resolver ref="local-maven2"/>
            <resolver ref="default"/>
            <resolver ref="gradle-releases" />
        </chain>
    </resolvers>
</ivysettings>
